@import './login.css';
@import './hero.css';
@import './navbar.css';
@import './contentsection.css';
@import './appstore.css';
@import './testimonials.css';
@import './community.css';
@import './team.css';
@import './news.css';
@import './footer.css';
@import './footerbottom.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
